.display {           /* ref="displayS" */
  font-size:25px;
}           /* ref="displayE" */
.textStyle {          /* ref="textStyleS" */
  font-size:30px;
  text-anchor:end;
}          /* ref="textStyleE" */
.Cell {           /* ref="CellS" */
  font-size:30px;
  display:inline-block; /* ref="Cell" */
  vertical-align:middle; /* ref="Middle" */
  padding-left:5px; /* ref="Padding" */
}  /* ref="CellE" */
#XP, #YP{/* ref="idS" */
  font-size:25px;
  text-align: right;
}/* ref="idE" */
#SetColor, #SelectColor {
  font-size:25px;
  text-align:center;
}
